#heading {
  background-color: aqua;
  color: darkorange;
  height: 100px;
  font-size: 50px;
  text-align: center;
}
#params {
  margin: 7px;
}

#val {
  height: 40px;
  font-size: 14pt;
  text-align: right;
}

#sub {
  height: 40px;
  font-size: 14pt;
}
